*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  width:80%;
  max-width:1350px;
  margin:0 auto;
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
}

/* header */

header{
  background-color: #FF6900;
  height:70px;
  width:100%;
  position: fixed;
  z-index:999;
}

header .container{
  color:white;
  padding:15px 0;
  display:flex;
  height:100%;
  align-items: center;
  justify-content: space-between;
}

header .container .logo{
  width:150px;
  vertical-align: middle;
}

header a, footer a{
  text-decoration: none;
  color:white;
}

header .container .links a{
  margin-right:10px;
  font-size:0.9rem;
}

header a:hover, footer .container .company .links a:hover{
  text-decoration: underline;
}

header .container .shop-icons a{
  margin-left:10px;
}

/* main */

main{
  padding-top:70px;
}

main .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .row .card{
  min-width:280px;
  width: calc(94% / 3);
  margin: 3% 0.5%;
  position:relative;
}

main .row .card .card-photo img{
  min-width: 280px;
  max-width: 100%;
}

main .row .card .card-photo .second-photo{
 display:none;
}

main .row .card .card-photo:hover .second-photo{
  display:inline-block;
}

main .row .card .card-photo:hover .first-photo{
  display:none;
}

main .row .card .card-details{
  min-height:50px;
  padding:3px;
  text-align: left;
}

main .row .card .card-details .brand{
  font-size:small;
}

main .row .card .card-details .description{
  text-transform: uppercase;
  font-weight: 600;
}
main .row .card .card-details .new-price{
  color:red;
  font-size:0.9em;
  font-weight: 600;
}

main .row .card .card-details .new-price::after{
  content:'\20AC';
}

main .row .card .card-details .old-price{
  text-decoration: line-through;
  font-size:0.9em;
}

main .row .card .card-details .old-price::after{
  content:'\20AC';
}

main .row .card .heart{
  position:absolute;
  right:0;
  top:15px;
  padding:12px 20px;
  background-color: white;
  color:black; 
}

main .row .card .heart:hover{
  color:red;
}

main .row .card .clothes-info{
  position:absolute;
  width:100%;
  left:0;
  bottom: 80px;
  font-size:0.8rem;
}

main .row .card .clothes-info::after{
  content: ' ';
  clear:both;
  display: table;
}

main .row .card .clothes-info span{
  float:left;
  padding:5px 12px;
  color:white;
  font-weight: 600;
  margin-right:3px;
}

main .row .card .clothes-info .discount{
  background-color: red;
}

main .row .card .clothes-info .discount::before{
  content:'-';
}

main .row .card .clothes-info .discount::after{
  content:'%';
}

main .row .card .clothes-info .eco{
  background-color: green;
}

/* footer */

footer{
  background-color: #1A1A1A;
  height:70px;
  color:white;
}

footer .container{
  padding:15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .company:first-child{
  font-size:1.1rem;
  font-weight: 600;
}

footer .links a{
  margin-right:5px;
  font-size:0.6rem;
}

footer .container .social{
  font-size:0.8rem;
}

footer .container .social *{
  margin:3px 3px 0 0;
}
